{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
<div class="placeholder"></div>
<form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}

    <input type="submit" id="r" value="Зарегистрироваться"/>

</form>
<div class="placeholder"></div>

<div class="placeholder"></div>

<div class="placeholder"></div>

<div class="placeholder"></div>

</body>
</html>




